<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="ChRemoveFS"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="FSC-A,FSC-W,FSC-H,SSC-A,SSC-W,SSC-H,FITC-A,PE-A,PC5-5-A,PC7-A,APC-A,APC-AF750-A,PB-A,KO-A,Time"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="ChRemoveFS"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="FSC-A,FSC-W,FSC-H,SSC-A,SSC-W,SSC-H,FITC-A,PE-A,PC5-5-A,PC7-A,APC-A,APC-AF750-A,PB-A,KO-A,Time"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="columns">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="6"/>
<entry key="0" type="xstring" value="FSC-A"/>
<entry key="1" type="xstring" value="FSC-W"/>
<entry key="2" type="xstring" value="FSC-H"/>
<entry key="3" type="xstring" value="SSC-A"/>
<entry key="4" type="xstring" value="SSC-W"/>
<entry key="5" type="xstring" value="SSC-H"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="9"/>
<entry key="0" type="xstring" value="FITC-A"/>
<entry key="1" type="xstring" value="PE-A"/>
<entry key="2" type="xstring" value="PC5-5-A"/>
<entry key="3" type="xstring" value="PC7-A"/>
<entry key="4" type="xstring" value="APC-A"/>
<entry key="5" type="xstring" value="APC-AF750-A"/>
<entry key="6" type="xstring" value="PB-A"/>
<entry key="7" type="xstring" value="KO-A"/>
<entry key="8" type="xstring" value="Time"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<entry key="label" type="xstring" value="Choose the markers that you want to EXCLUDE from the signal acquisition check. For example, SSC-A and FSC-A:"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="column-filter"/>
<entry key="flowvariablename" type="xstring" value="ChRemoveFS"/>
<config key="possibleColumns">
<entry key="array-size" type="xint" value="15"/>
<entry key="0" type="xstring" value="FSC-A"/>
<entry key="1" type="xstring" value="FSC-W"/>
<entry key="2" type="xstring" value="FSC-H"/>
<entry key="3" type="xstring" value="SSC-A"/>
<entry key="4" type="xstring" value="SSC-W"/>
<entry key="5" type="xstring" value="SSC-H"/>
<entry key="6" type="xstring" value="FITC-A"/>
<entry key="7" type="xstring" value="PE-A"/>
<entry key="8" type="xstring" value="PC5-5-A"/>
<entry key="9" type="xstring" value="PC7-A"/>
<entry key="10" type="xstring" value="APC-A"/>
<entry key="11" type="xstring" value="APC-AF750-A"/>
<entry key="12" type="xstring" value="PB-A"/>
<entry key="13" type="xstring" value="KO-A"/>
<entry key="14" type="xstring" value="Time"/>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="ChRemoveFS"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="370"/>
<entry key="y-coordinate" type="xint" value="642"/>
<entry key="width" type="xint" value="134"/>
<entry key="height" type="xint" value="18"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME.com, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.2.1.v201608161059"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME.com, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.2.1.v201608182043"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
